body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#board {
  width: 350px;
  height: 400px;
  background: gray;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
  padding: 16px;
  border-radius: 4px;
  margin: 16px;
}

.cell {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 4px;
  transition: all 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background: rgb(200, 200, 200);
  box-shadow: 0 0 2px 2px black;
  cursor: pointer;
}

.cell .u0, .cell .u1 {
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.cell .u0 {
  background: rgb(125, 125, 255);
}

.cell .u1 {
  background: rgb(255, 125, 125);
}

.cell.c0-3, .cell.c7-3 {
  background: rgba(200, 255, 200, 0.7);
}

.cell.c2-1, .cell.c5-5 {
  background: rgba(255, 215, 0, 0.7);
}

.cell.marked-0 {
  box-shadow: 0 0 2px 2px blue;
}

.cell.marked-1 {
  box-shadow: 0 0 2px 2px red;
}

.spawn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px black;
  transition: all 0.3s ease;
}

.spawn-btn:hover {
  box-shadow: 0 0 2px 2px black;
  cursor: pointer;
}

#end-turn {
  margin-top: 8px;
}
